body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #7fadb7;
  background-repeat: repeat;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 300%;
  padding:0;
  margin:0;
}

.main {
  padding: 50px;
  
}

/* Form Styles */
form {
  margin: 30px 0;
}

.formGroup {
  margin: 10px 0;
}

.formGroup label {
  font-weight: bold;
}

input {
  background-color: rgba(255,255,255,.5);
  border-radius: 3px;
  border:none;
  padding: 10px;
  width: 33%;
}

textarea {
  background-color: rgba(255,255,255,.5);
  border-radius: 3px;
  border:none;
  padding: 10px;
  width: 33%;
}

/* NavBar Styles */
.navbar {
  background-color: #245059;
  color: white;
  width: 100%;
  display: block;
  padding: 10px 5px;
}

.navbar a {
  color: inherit;
  text-decoration: none;
}

.navLogo {
  width: 19px;
  border-radius: 50%;
}

.websiteName {
  font-weight: bold;
}

.navbar ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.navbar li {
  font-size: 20px;
  display: inline;
  vertical-align:bottom;
  margin: 0 10px;
}

/* Footer Styles */
.footer {
  background-color: #245059;
  color: white;
  width: 100%;
  display: block;
  padding: 10px 5px;
  text-align: center;
  font-size: 13px;

  position: absolute;
  bottom: 0;
  left: 0;
}